<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/SideMenuStyleSheet.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    @*<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />*@
    

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="main" class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />*@
    @RenderSection("scripts", required: false)

    <!--Side Navigation Menu -->
    <div class="sideMenu">
        <!-- Employees Options -->
        <button class="dropdown-btn">
            Employees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a>@Html.ActionLink("Create Employee", "Create", "Employee")</a>
            <a>@Html.ActionLink("Update Employee", "Edit", "Employee")</a>
            <a>@Html.ActionLink("View Employees", "Details", "Employee")</a>
            <a>@Html.ActionLink("Archive Employee", "Delete", "Employee")</a>
        </div>

        <!-- Coaches Options -->
        <button class="dropdown-btn">
            Coaches
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a>@Html.ActionLink("Add Coach", "Create", "Coach")</a>
            <a>@Html.ActionLink("Update Coach", "Edit", "Coach")</a>
            <a>@Html.ActionLink("View Coaches", "Details", "Coach")</a>
            <a>@Html.ActionLink("Archive Coach", "Delete", "Coach")</a>
        </div>

        <!-- Replacement Services -->
        <a href="#">Replacement Services</a>

        <!-- Journeys Options -->
        <button class="dropdown-btn">
            Timetables
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Create New Timetable</a>
            <a href="#">Update Timetable</a>
            <a href="#">View Timetable</a>
            <a href="#">Archive Timetable</a>
        </div>

        <!-- Routes Options -->
        <button class="dropdown-btn">
            Routes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Create New Route</a>
            <a href="#">Update Route</a>
            <a href="#">View Route</a>
            <a href="#">Archive Route</a>
        </div>

        <a href="#">Help</a>

        <a>@Html.ActionLink("Sign Out", "Login", "Home",null, new { id = "logout"}) </a>
    </div>
    <!-- End of Side Navigation Menu -->


    @Scripts.Render("~/Scripts/SideMenuDropDown.js")

</body>
</html>