@model IEnumerable<WebApplication.ViewModels.RouteStopViewModel>

@{
    ViewBag.Title = "Stops For Route";
}

<h2>All Stops for Route @ViewBag.RouteId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionInRoute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionInRoute)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=ViewBag.RouteId, stopId=item.StopId })
        </td>
    </tr>
}

</table>
