@model WebApplication.ViewModels.CoachViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Coach Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoachId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoachId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
