@model IEnumerable<WebApplication.ViewModels.ShiftViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShiftId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartOfShift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndOfShift)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RouteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoachId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartOfShift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfShift)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.ShiftId}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShiftId }) 

        </td>
    </tr>
}

</table>
